.search{
  width: 100%;
  display: flex;
}
.search input[type=text]{
  flex: 1;

  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  background-color: hsl(200, 70%, 95%);
  border: none;
  border-radius: 50px 0 0 50px;

  padding: 10px 20px;
}
.search input[type=text]:focus{
  outline: none;
}
.searchButton{
  font-size: 1.5rem;
  background-color: hsl(200, 70%, 95%);
  border: none;
  border-radius: 0 50px 50px 0;

  padding: 0 15px;

  cursor: pointer;
}
.searchButton:hover{
  background-color: hsl(200, 70%, 90%);
}
.searchList{
  position: fixed;
  top: 50px;

  width: 40vw;

  display: flex;
  flex-direction: column;

  background-color: hsl(200, 70%, 90%);
  border-radius: 5px;
  box-shadow: 5px 5px 10px hsl(200, 5%, 25%);
}
.searchItem{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: hsl(240, 50%, 40%);
  padding: 1rem;
}
.searchItem:first-child{
  border-radius: 5px 5px 0 0;
}
.searchItem:last-child{
  border-radius: 0 0 5px 5px;
}
.searchItem:only-child{
  border-radius: 5px;
}
.searchItem:hover{
  background-color: hsl(200, 70%, 85%);
  cursor: pointer;
}

@media(max-width: 800px){

  .search input[type=text]{
    width: 200px;
  }

}
