.loginOverlay{
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 10%, 0.3);
}
.login{
  width: 20vw;
  display: flex;
  margin: auto;
  margin-top: 40vh;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: hsl(200, 5%, 10%);
}
