dialog{
  all: unset;  /*important for removing the default dialog styling*/
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 10%, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
  transition-behavior: allow-discrete;
}
dialog:open{
  opacity: 1;
  display: block;

  @starting-style{
    opacity: 0;
  }
}

.login{
  width: 400px;
  display: flex;
  margin: auto;
  margin-top: 20vh;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: hsl(200, 5%, 10%);
  border: 2px solid black;
  border-top: 2px solid hsl(0, 0%, 90%);
  border-radius: 5px;
  padding: 25px;
}

.inputFields{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.login h2{
  font-size: 3rem;
  font-family: "Fugaz One", sans-serif;
  font-weight: 500;
  color: hsl(0, 0%, 90%);
}
.login h3{
  font-size: 1.2rem;
  font-family: "Monsterrat", sans-serif;
  color: hsl(0, 0%, 70%);
  text-align: center;
}

#closeButton{
  font-size: 1rem;
  color: hsl(0, 0%, 90%);
  align-self: flex-end;
  border: none;
  background: none;
  cursor: pointer;
}

#submitButton{
  width: 100%;
  font-size: 1rem;
  color: hsl(0, 0%, 90%);
  border: 2px solid hsl(200, 5%, 50%);
  border-radius: 50px;
  background-color: hsl(200, 5%, 35%);
  cursor: pointer;
  padding: 15px 20px;
  transition: all 0.2s ease;
}
#submitButton:hover{
  background-color: hsl(200, 5%, 45%);
}

.userInputs{
  width: 250px;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 5%, 70%);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}

