.expandedSideBar{
  width: 300px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: hsl(200, 5%, 8%);
  border-right: 2px solid hsl(0, 0%, 40%);
  box-shadow: 5px 0 10px hsla(200, 5%, 8%, 0.5);

  padding-top: 50px;
  transition: all 0.2s ease-in-out, background-color 0s linear;

  text-wrap: nowrap;
  overflow: hidden;
}

.collapsedSideBar{
  position: fixed;
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(200, 5%, 8%);

  padding-top: 50px;
  transition: all 0.2s ease-in-out, background-color 0s linear;
}
.collapsedSideBar div{
	align-items: center;
}

.settings{
  display: flex;
  flex-direction: column;
}

.settings div{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.settings button{
  width: 90%;
  height: 100%;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(0, 0%, 90%);
  text-align: left;
  border: none;
  border-radius: 10px;
  background: transparent;
  padding-left: 20px;
  cursor: pointer;
}
.settings button:hover{
  background-color: hsl(200, 5%, 15%);
}
.settings img{
  width: 50px;
  height: 50px;
	border-radius: 10px;
  cursor: pointer;
}
.settings img:hover{
	background-color: hsl(200, 5%, 15%);
}

@media(max-width: 700px){

  .settings div:first-child{
    display: none;
  }

}
