.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home:hover{
  
}

.homeContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 200px 0;
}
#homeTitle{
  font-family: "Fugaz One", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: hsl(200, 70%, 50%);
}
#homeSubTitle{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(200, 70%, 65%);
}
.homeButtons{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.homeButtons button{
  font-size: 1.2rem;
  font-family: "Sansation", sans-serif;
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 70%, 50%);
  border: 2px solid hsl(200, 70%, 40%);
  border-radius: 10px;
  box-shadow: 0 0 5px hsl(200, 70%, 40%);
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.homeButtons button:hover{
  background-color: hsl(200, 70%, 60%);
}
.homeButtons button:active{
  background-color: hsl(200, 70%, 40%);
}
.homeImage{
  display: flex;
  align-items: center;
  justify-content: center;
}

.statsLeft, .statsRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 100px 0;
}
.statsLeft h2, .statsRight h2{
  font-size: 4rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  color: hsl(200, 70%, 50%);
}
.statsLeft h3, .statsRight h3{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(0, 0%, 10%);
}

.usernameBlock input[type=text]{
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  color: hsl(0, 0%, 0%);
  padding: 1rem;
  background-color: hsl(200, 70%, 90%);
  border: 2px solid hsl(200, 70%, 80%);
  border-radius: 5px;
  transition: all 0.2s ease;
}
.usernameBlock input[type=text]:focus{
  outline: none;
  background-color: hsl(200, 70%, 95%);
  border: 2px solid hsl(200, 70%, 60%);
  box-shadow: 0 0 10px hsl(200, 70%, 80%);
}


@media(max-width: 1025px){

  #homeTitle{
    font-size: 3rem;
  }

  .homeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 250px 0;
  }

}
