.home{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 0 2rem;
}

.stats{
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homeContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 200px 0;
}
#homeTitle{
  font-family: "Fugaz One", sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  color: hsl(0, 0%, 90%);
}
#homeSubTitle{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(0, 0%, 90%);
}
.homeButtons{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.homeButtons button{
  font-size: 1.2rem;
  font-family: "Sansation", sans-serif;
  color: hsl(0, 0%, 90%);
  background-color: hsl(200, 5%, 20%);
  border: 2px solid hsl(200, 5%, 15%);
  border-radius: 10px;
  box-shadow: 0 0 5px hsl(0, 0%, 50%);
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.homeButtons button:hover{
  background-color: hsl(200, 5%, 25%);
}
.homeButtons button:active{
  color: hsl(0, 0%, 10%);
  background-color: hsl(200, 5%, 95%);
}
.homeImage{
  display: flex;
  align-items: center;
}

.statsLeft, .statsRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.statsLeft{
  padding-left: 150px;
}
.statsRight{
  padding-right: 150px;
}
.statsLeft h2, .statsRight h2{
  font-size: 4.5rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  color: hsl(0, 0%, 90%);
}
.statsLeft h3, .statsRight h3{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(0, 0%, 80%);
}



@media(max-width: 1075px){

  .home{
    height: 100vh;
  }

  #homeTitle{
    font-size: 3rem;
  }

  .homeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

}

@media(max-width: 850px){

  .home{
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh;
    gap: 0;
  }

  #homeTitle{
    font-size: 4rem;
  }

  .homeImage{
    justify-content: center;
  }

  .statsLeft, .statsRight{
    padding: 50px 0;
  }
}

@media(max-width: 500px){
  
  .stats{
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 25vh;
    gap: 0;
  }

}
