.pollsList{
  display: flex;
  flex-direction: column;
}
.pollExpired{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(90deg, hsl(200, 5%, 30%), hsl(200, 5%, 40%), hsl(200, 5%, 30%));
  border-radius: 10px;
  border-bottom: 2px solid hsl(0, 50%, 70%);
  border-right: 2px solid hsl(0, 50%, 70%);
  padding: 2rem;
}
.pollExpired h2{
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: hsl(0, 50%, 70%);
}
.pollExpired p{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  color: hsl(0, 0%, 90%);
}

.exploreContainer{
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  padding: 100px 0;
}
.exploreContainer h1{
  font-family: "Fugaz One", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: hsl(0, 0%, 90%);
  text-align: center;
}
.poll{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(90deg, hsl(200, 5%, 30%), hsl(200, 5%, 40%), hsl(200, 5%, 30%));
  border-bottom: 2px solid hsl(200, 70%, 70%);
  border-right: 2px solid hsl(200, 70%, 70%);
  border-radius: 10px;
  padding: 2rem;
}
.poll h2{
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: hsl(200, 70%, 80%);
}
.poll p{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  color: hsl(0, 0%, 90%);
}

.poll .pollButtons, .pollExpired .pollButtons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.poll .pollButtons button{
  width: 200px;
  font-family: "Sansation", sans-serif;
  font-size: 1.2rem;
  color: hsl(240, 50%, 40%);
  background-color: hsl(200, 70%, 85%);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.pollExpired .pollButtons button{
  width: 200px;
  font-family: "Sansation", sans-serif;
  font-size: 1.2rem;
  color: hsl(0, 50%, 50%);
  background-color: hsl(0, 50%, 90%);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}


.pollInfoButtons{
  width: 300px;
  display: flex;
  gap: 1rem;
}

.poll .pollButtons button:hover{
  background-color: hsl(200, 70%, 80%);
}
.poll .pollButtons button:active{
  background-color: hsl(200, 70%, 70%);
}
.pollExpired .pollButtons button:hover{
  background-color: hsl(0, 50%, 75%);
}
.pollExpired .pollButtons button:active{
  background-color: hsl(0, 50%, 70%);
}


.noPolls{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.noPolls h2, .noPolls h3{
  font-family: "Ubuntu", sans-serif;
  color: hsl(0, 0%, 80%);
}
.noPolls button{
  font-family: "Sansation", sans-serif;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 50%, 70%);
  border: 2px solid hsl(240, 50%, 40%);
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.noPolls button:hover{
  color: hsl(240, 50%, 40%);
  background-color: hsl(240, 50%, 80%);
}
.noPolls button:active{
  background-color: hsl(240, 50%, 50%);
  color: hsl(0, 0%, 100%);
}
