.sideBarAndMainContainer{
  display: grid;
  grid-template-columns: 2fr 7fr;
}

.pollsList{
  display: flex;
  flex-direction: column;
}
.pollExpired{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(240, 50%, 95%);
  border-bottom: 2px solid hsl(45, 100%, 50%);
  padding: 2rem;
}
.pollExpired h2{
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: hsl(0, 50%, 50%);
}
.pollExpired p{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

.exploreContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 100px 2rem;
}
.exploreContainer h1{
  font-family: "Fugaz One", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: hsl(240, 50%, 50%);
  text-align: center;
}
.poll{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(240, 50%, 95%);
  border-bottom: 2px solid hsl(45, 100%, 50%);
  border-right: 2px solid hsl(45, 100%, 50%);
  border-radius: 10px;
  padding: 2rem;
}
.poll h2{
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: hsl(240, 50%, 50%);
}
.poll p{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}
.pollButtons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pollButtons button{
  font-family: "Sansation", sans-serif;
  font-size: 1.5rem;
  color: hsl(240, 50%, 40%);
  background-color: hsl(240, 50%, 90%);
  border: 2px solid hsl(240, 50%, 80%);
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: border 0.1s ease, color 0.1s ease;
}
.pollInfoButtons{
  display: flex;
  gap: 1rem;
}
#voteButton{
  width: 200px;
}
#voteButton:hover{
  border: 2px solid hsl(240, 50%, 50%);
  color: hsl(240, 50%, 50%);
}
#voteButton:active{
  background-color: hsl(240, 50%, 50%);
  border: 2px solid hsl(240, 50%, 50%);
  color: hsl(0, 0%, 100%);
}
#likeButton:hover{
  border: 2px solid hsl(240, 50%, 50%);
  color: hsl(240, 50%, 50%);
}
#likeButton:active{
  background-color: hsl(120, 50%, 45%);
  border: 2px solid hsl(120, 50%, 45%);
  color: hsl(0, 0%, 100%);
}
#dislikeButton:hover{
  border: 2px solid hsl(240, 50%, 50%);
  color: hsl(240, 50%, 50%);
}
#dislikeButton:active{
  background-color: hsl(0, 50%, 45%);
  border: 2px solid hsl(0, 50%, 45%);
  color: hsl(0, 0%, 100%);
}
#favoriteButton:hover{
  border: 2px solid hsl(240, 50%, 50%);
  color: hsl(240, 50%, 50%);
}
#favoriteButton:active{
  background-color: hsl(45, 100%, 50%);
  border: 2px solid hsl(45, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.searchInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchInfo h4{
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
  color: hsl(240, 50%, 40%);
}
.searchInfo button{
  font-family: "Monsterrat", sans-serif;
  font-size: 1rem;
  color: hsl(0, 100%, 100%);
  background-color: hsl(0, 50%, 70%);
  border: 2px solid hsl(0, 50%, 45%);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.searchInfo button:hover{
  background-color: hsl(0, 50%, 60%);
}

.noPolls{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.noPolls h2, h3{
  font-family: "Ubuntu", sans-serif;
  color: hsl(240, 50%, 40%);
}
.noPolls button{
  font-family: "Sansation", sans-serif;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 50%, 70%);
  border: 2px solid hsl(240, 50%, 40%);
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.noPolls button:hover{
  color: hsl(240, 50%, 40%);
  background-color: hsl(240, 50%, 80%);
}
.noPolls button:active{
  background-color: hsl(240, 50%, 50%);
  color: hsl(0, 0%, 100%);
}
