.samplePoll{
  width: 70%;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(200, 70%, 40%);
  border: 2px solid hsl(200, 70%, 30%);
  border-radius: 20px;
  padding: 40px 25px;
}
.spTitle h2, .spStats div div h2{
  font-size: 2rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  color: hsl(0, 0%, 90%);
}
.spOptions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: hsl(200, 70%, 90%);
  border-radius: 10px;
  padding: 10px;
}
.spOptions div{
  display: flex;
  justify-content: space-between;
  background-color: hsl(200, 70%, 85%);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
.spOptions div:first-child{
  background: linear-gradient(to right, hsl(200, 70%, 60%) 43.5%, hsl(200, 70%, 85%) 43.5%);
}

.spOptions div h3{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  color: hsl(0, 0%, 10%);
}
.spOptions div p{
  font-size: 1rem;
  font-weight: 400;
  font-family: "Sansation", sans-serif;
  color: hsl(0, 0%, 10%);
}
.spStats div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spStats div div{
  display: flex;
  gap: 1rem;
}
.spStats div div button{
  font-family: "Sansation", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(0, 0%, 10%);
  background-color: hsl(200, 70%, 90%);
  border: 2px solid hsl(200, 70%, 30%);
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}


@media(max-width: 1025px){

  .spTitle h2, .spStats div div h2{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    color: hsl(0, 0%, 90%);
  }

  .spOptions div p{
    display: none;
  }

  .spStats div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .spStats div div:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .spStats div div button{
  }

}

