.navbar{
  z-index: 5;
  position: fixed;
  top: 0;
  background-color: hsl(240, 50%, 70%);
  height: 50px;
  width: 100vw;
  display: flex;
  border-bottom: 2px solid hsl(240, 50%, 40%);
  box-shadow: 0 5px 10px hsla(240, 50%, 40%, 0.3);
}

.navLeft{
  width: 30%;
  display: flex;
  align-items: center;
}

.navLeft a{
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Sansation", sans-serif;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  padding: 17px;
}

.navMid{
  width: 40%;
  display: flex;
  align-items: center;
}

.navRight{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.navRight div:last-child{
  margin-right: 20px;
}

.navUsername{
  max-width: 150px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 90%);
  background-color: hsl(240, 50%, 60%);
  border-radius: 50px;
  padding: 10px 20px;
}

.navLoginButton, .navLogoutButton{
  font-family: "Sansation", sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 10%);
  background-color: hsl(200, 70%, 95%);
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  transition: background-color 0.2s ease;
}
.navLoginButton:hover, .navLogoutButton:hover{
  background-color: hsl(200, 70%, 90%);
}

@media(max-width: 1000px){

  .navLoginButton, .navLogoutButton{
    display: none;
  }

}

@media(max-width: 900px){

  .navRight div:nth-child(3){
    display: none;
  }

}

