.navbar{
  z-index: 5;
  position: fixed;
  top: 0;
  background-color: hsl(240, 50%, 70%);
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid hsl(240, 50%, 40%);
  box-shadow: 0 5px 10px hsla(240, 50%, 40%, 0.3);
}

.navLeft a{
  text-decoration: none;
  font-size: 1rem;
  font-family: "Sansation", sans-serif;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  background-color: hsl(240, 50%, 60%);
  border-right: 2px solid hsl(240, 50%, 40%);
  padding: 17px;
}

.navRight{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 30px;
}

.navUsername{
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  color: hsl(0, 0%, 90%);
  background-color: hsl(240, 50%, 60%);
  border-radius: 50px;
  padding: 10px 20px;
}

.navLoginButton, .navLogoutButton{
  font-family: "Sansation", sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 10%);
  background-color: hsl(240, 50%, 90%);
  border: 2px solid hsl(240, 50%, 40%);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

@media(max-width: 900px){

  .navLoginButton, .navLogoutButton{
    display: none;
  }

}

@media(max-width: 600px){

  .navRight div:nth-child(3){
    display: none;
  }

}
